@mixin res-font($minFont, $maxFont, $minBreakpoint, $maxBreakpoint) {
  $maxLessOne: $maxBreakpoint - 1;

  $avg: calc(#{$maxFont + $minFont} / 2);

  font-size: #{$minFont}px;

  @media (min-width: #{$minBreakpoint}px) and (max-width: #{$maxLessOne}px) {
    font-size: #{$avg}px;

    font-size: calc(
      #{$minFont}px + (#{$maxFont} - #{$minFont}) *
        (100vw - #{$minBreakpoint}px) / (#{$maxBreakpoint} - #{$minBreakpoint})
    );
  }

  @media (min-width: #{$maxBreakpoint}px) {
    font-size: #{$maxFont}px;
  }
}

// Media Queries Mixins
@mixin mediaXs {
  @media (max-width: 576.98px) {
    @content;
  }
}

@mixin mediaSm {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}

@mixin media992px {
  @media (max-width: 991.98px) {
    @content;
  }
}
